applications/node-red/hand-rehab-flow.json
[
  {
    "id": "b7cb4d8e7e6a1001",
    "type": "tab",
    "label": "ESP32 Hand Rehab",
    "disabled": false,
    "info": "Configuracao esperada via variaveis de ambiente:\n\nMQTT_BROKER=192.168.0.10\nNODE_RED_MQTT_BROKER=127.0.0.1\nMQTT_PORT=1883\nNODE_RED_CLIENT_ID=node-red-hand-rehab\n\nComo usar:\n1. Configure o arquivo .env na raiz do repositorio.\n2. Inicie o Node-RED com essas variaveis carregadas.\n3. Importe este fluxo.\n4. Confira o no Broker MQTT Local.\n5. Clique em Deploy.\n\nTopicos:\n- hand-rehab/esp32/status\n- hand-rehab/esp32/mode/set\n- hand-rehab/esp32/mode/state\n- hand-rehab/esp32/buttons\n- hand-rehab/esp32/pressure\n\nPayload de pressao esperado:\n{\"pressure\":0.123,\"pressure_kpa\":0.123,\"pressure_mmhg\":0.92,\"raw\":12345,\"net\":1234,\"timeouts\":0,\"mode\":2}"
  },
  {
    "id": "b7cb4d8e7e6a1002",
    "type": "mqtt-broker",
    "name": "Broker MQTT Local",
    "broker": "${NODE_RED_MQTT_BROKER}",
    "port": "${MQTT_PORT}",
    "clientid": "${NODE_RED_CLIENT_ID}",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "b7cb4d8e7e6a1003",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Status ESP32",
    "topic": "hand-rehab/esp32/status",
    "qos": "1",
    "datatype": "auto",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["b7cb4d8e7e6a1008"]]
  },
  {
    "id": "b7cb4d8e7e6a1004",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Modo atual",
    "topic": "hand-rehab/esp32/mode/state",
    "qos": "1",
    "datatype": "auto",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 140,
    "wires": [["b7cb4d8e7e6a1009"]]
  },
  {
    "id": "b7cb4d8e7e6a1005",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Botoes",
    "topic": "hand-rehab/esp32/buttons",
    "qos": "0",
    "datatype": "json",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 220,
    "wires": [["b7cb4d8e7e6a1010"]]
  },
  {
    "id": "b7cb4d8e7e6a1006",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Pressao",
    "topic": "hand-rehab/esp32/pressure",
    "qos": "0",
    "datatype": "json",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 280,
    "wires": [["b7cb4d8e7e6a1015"]]
  },
  {
    "id": "b7cb4d8e7e6a1007",
    "type": "mqtt out",
    "z": "b7cb4d8e7e6a1001",
    "name": "Enviar modo ao ESP32",
    "topic": "hand-rehab/esp32/mode/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b7cb4d8e7e6a1002",
    "x": 570,
    "y": 580,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1008",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 80,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1009",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug modo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 140,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1010",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug botoes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 220,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1011",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug pressao completa",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 280,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1015",
    "type": "function",
    "z": "b7cb4d8e7e6a1001",
    "name": "Normalizar pressao HX710B",
    "func": "let data = msg.payload;\n\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (error) {\n        msg.payload = {\n            error: \"invalid_pressure_json\",\n            raw_payload: data\n        };\n        return [msg, null, null, null];\n    }\n}\n\nif (!data || typeof data !== \"object\") {\n    msg.payload = {\n        error: \"invalid_pressure_payload\",\n        raw_payload: data\n    };\n    return [msg, null, null, null];\n}\n\nif (data.error) {\n    const errorMsg = {\n        payload: {\n            error: data.error,\n            timeouts: Number(data.timeouts || 0),\n            mode: Number(data.mode || 2)\n        },\n        topic: msg.topic\n    };\n    return [errorMsg, null, null, errorMsg];\n}\n\nconst pressureKpa = Number(data.pressure_kpa ?? data.pressure ?? 0);\nconst pressureMmhg = Number(data.pressure_mmhg ?? pressureKpa * 7.50062);\nconst raw = Number(data.raw ?? 0);\nconst net = Number(data.net ?? 0);\nconst timeouts = Number(data.timeouts ?? 0);\nconst mode = Number(data.mode ?? 2);\n\nconst normalized = {\n    pressure: pressureKpa,\n    pressure_kpa: pressureKpa,\n    pressure_mmhg: pressureMmhg,\n    raw,\n    net,\n    timeouts,\n    mode\n};\n\nreturn [\n    { payload: normalized, topic: msg.topic },\n    { payload: pressureKpa, topic: \"hand-rehab/esp32/pressure/kpa\" },\n    { payload: pressureMmhg, topic: \"hand-rehab/esp32/pressure/mmhg\" },\n    { payload: { raw, net, timeouts }, topic: \"hand-rehab/esp32/pressure/raw\" }\n];",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": [
      ["b7cb4d8e7e6a1011"],
      ["b7cb4d8e7e6a1016"],
      ["b7cb4d8e7e6a1017"],
      ["b7cb4d8e7e6a1018"]
    ]
  },
  {
    "id": "b7cb4d8e7e6a1016",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug pressao kPa",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 340,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1017",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug pressao mmHg",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 400,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1018",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug raw net timeouts",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 460,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1012",
    "type": "inject",
    "z": "b7cb4d8e7e6a1001",
    "name": "Ativar modo 1 botoes",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 190,
    "y": 560,
    "wires": [["b7cb4d8e7e6a1007"]]
  },
  {
    "id": "b7cb4d8e7e6a1013",
    "type": "inject",
    "z": "b7cb4d8e7e6a1001",
    "name": "Ativar modo 2 pressao",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "2",
    "payloadType": "str",
    "x": 190,
    "y": 620,
    "wires": [["b7cb4d8e7e6a1007"]]
  },
  {
    "id": "b7cb4d8e7e6a1014",
    "type": "comment",
    "z": "b7cb4d8e7e6a1001",
    "name": "Configuracao MQTT via .env",
    "info": "O no Broker MQTT Local usa variaveis de ambiente:\n\nNODE_RED_MQTT_BROKER\nMQTT_PORT\nNODE_RED_CLIENT_ID\n\nUse NODE_RED_MQTT_BROKER=127.0.0.1 quando o Aedes estiver rodando dentro do proprio Node-RED.\n\nCarregue o .env antes de iniciar o Node-RED:\n\nset -a\nsource .env\nset +a\nnode-red\n\nO firmware le WIFI_SSID, WIFI_PASSWORD, MQTT_BROKER, MQTT_PORT e MQTT_CLIENT_ID a partir do mesmo .env via PlatformIO. Para o ESP32, MQTT_BROKER deve ser o IP da maquina na rede Wi-Fi.",
    "x": 210,
    "y": 40,
    "wires": []
  }
]
