applications/node-red/hand-rehab-flow.json
[
  {
    "id": "b7cb4d8e7e6a1001",
    "type": "tab",
    "label": "ESP32 Hand Rehab",
    "disabled": false,
    "info": "Configuracao esperada via variaveis de ambiente:\n\nMQTT_BROKER=192.168.0.10\nNODE_RED_MQTT_BROKER=127.0.0.1\nMQTT_PORT=1883\nNODE_RED_CLIENT_ID=node-red-hand-rehab\n\nComo usar:\n1. Configure o arquivo .env na raiz do repositorio.\n2. Inicie o Node-RED com essas variaveis carregadas.\n3. Importe este fluxo.\n4. Confira o no Broker MQTT Local.\n5. Clique em Deploy.\n\nTopicos:\n- hand-rehab/esp32/status\n- hand-rehab/esp32/mode/set\n- hand-rehab/esp32/mode/state\n- hand-rehab/esp32/buttons\n- hand-rehab/esp32/pressure"
  },
  {
    "id": "b7cb4d8e7e6a1002",
    "type": "mqtt-broker",
    "name": "Broker MQTT Local",
    "broker": "${NODE_RED_MQTT_BROKER}",
    "port": "${MQTT_PORT}",
    "clientid": "${NODE_RED_CLIENT_ID}",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "b7cb4d8e7e6a1003",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Status ESP32",
    "topic": "hand-rehab/esp32/status",
    "qos": "1",
    "datatype": "auto",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 80,
    "wires": [["b7cb4d8e7e6a1008"]]
  },
  {
    "id": "b7cb4d8e7e6a1004",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Modo atual",
    "topic": "hand-rehab/esp32/mode/state",
    "qos": "1",
    "datatype": "auto",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 140,
    "wires": [["b7cb4d8e7e6a1009"]]
  },
  {
    "id": "b7cb4d8e7e6a1005",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Botoes",
    "topic": "hand-rehab/esp32/buttons",
    "qos": "0",
    "datatype": "json",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 220,
    "wires": [["b7cb4d8e7e6a1010"]]
  },
  {
    "id": "b7cb4d8e7e6a1006",
    "type": "mqtt in",
    "z": "b7cb4d8e7e6a1001",
    "name": "Pressao",
    "topic": "hand-rehab/esp32/pressure",
    "qos": "0",
    "datatype": "json",
    "broker": "b7cb4d8e7e6a1002",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 280,
    "wires": [["b7cb4d8e7e6a1011"]]
  },
  {
    "id": "b7cb4d8e7e6a1007",
    "type": "mqtt out",
    "z": "b7cb4d8e7e6a1001",
    "name": "Enviar modo ao ESP32",
    "topic": "hand-rehab/esp32/mode/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b7cb4d8e7e6a1002",
    "x": 560,
    "y": 420,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1008",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 80,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1009",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug modo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 140,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1010",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug botoes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 220,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1011",
    "type": "debug",
    "z": "b7cb4d8e7e6a1001",
    "name": "debug pressao",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 280,
    "wires": []
  },
  {
    "id": "b7cb4d8e7e6a1012",
    "type": "inject",
    "z": "b7cb4d8e7e6a1001",
    "name": "Ativar modo 1 botoes",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 190,
    "y": 400,
    "wires": [["b7cb4d8e7e6a1007"]]
  },
  {
    "id": "b7cb4d8e7e6a1013",
    "type": "inject",
    "z": "b7cb4d8e7e6a1001",
    "name": "Ativar modo 2 pressao",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "2",
    "payloadType": "str",
    "x": 190,
    "y": 460,
    "wires": [["b7cb4d8e7e6a1007"]]
  },
  {
    "id": "b7cb4d8e7e6a1014",
    "type": "comment",
    "z": "b7cb4d8e7e6a1001",
    "name": "Configuracao MQTT via .env",
    "info": "O no Broker MQTT Local usa variaveis de ambiente:\n\nNODE_RED_MQTT_BROKER\nMQTT_PORT\nNODE_RED_CLIENT_ID\n\nUse NODE_RED_MQTT_BROKER=127.0.0.1 quando o Aedes estiver rodando dentro do proprio Node-RED.\n\nCarregue o .env antes de iniciar o Node-RED:\n\nset -a\nsource .env\nset +a\nnode-red\n\nO firmware le WIFI_SSID, WIFI_PASSWORD, MQTT_BROKER, MQTT_PORT e MQTT_CLIENT_ID a partir do mesmo .env via PlatformIO. Para o ESP32, MQTT_BROKER deve ser o IP da maquina na rede Wi-Fi.",
    "x": 210,
    "y": 40,
    "wires": []
  }
]
